[Unit]
Description=Ductile Discord Bot
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/api/ductile-discord
ExecStart=/usr/bin/env uv run --project /home/ubuntu/api/ductile-discord ductile-discord --config config.yaml start
Restart=always
StandardOutput=file:/var/log/ductile-discord.log
StandardError=file:/var/log/ductile-discord-error.log

[Install]
WantedBy=multi-user.target
